* text=auto

*.cs text eol=lf
*.csproj text eol=lf
*.slnx text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.jsonc text eol=lf
*.txt text eol=lf
*.vert text eol=lf
*.frag text eol=lf
*.css text eol=lf
LICENSE text eol=lf
.gitignore text eol=lf

*.ttf binary
*.ico binary
*.png binary
*.dll binary
*.exe binary
